* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --nav-background: #E7000B;
    --active-link-style: #64000575;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: var(--nav-background);
    width: 100%;
    height: 8vh;
    /* border: solid; */
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 0.1);

    .container {
        width: 85%;
        height: 100%;
        margin: auto;
        /* background-color: #00BA48; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        .logo {
            /* width: 20%; */
            height: 100%;
            /* border: solid; */
            display: flex;
            align-items: center;
            /* padding: 0 15px; */
            padding-left: 0;

            .headingLogo {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            i {
                font-size: 15px;
                padding: 0 5px;
            }

            h1 {
                font-size: 20px;
                padding: 0 5px;
            }

            .burgerMenue {
                i {
                    display: none;
                    font-size: 20px;
                }
            }
        }

        .links {
            /* width: 70%; */
            /* height: 100%; */
            /* border: solid; */
            display: flex;
            align-items: center;

            ul {
                /* border: solid; */
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    height: 100%;
                    /* border: solid; */

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;

                    a {
                        text-align: center;
                        display: inline-block;
                        /* border: solid; */
                        font-size: 14px;
                        width: 100%;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 8px;
                        transition: 0.3s ease;

                        &.activeLink {
                            background-color: var(--active-link-style);
                        }

                        &:hover {
                            background-color: var(--active-link-style);
                        }
                    }
                }

                li:first-child {
                    a {
                        /* background-color: var(--active-link-style); */
                    }
                }

                li:last-child {
                    a {
                        background-color: #F3F4F6;
                        color: red;
                        box-shadow: 0 5px 5px rgb(0 0 0 / 0.1);

                        &:hover {
                            transform: translateY(-3px);
                        }
                    }
                }
            }
        }

        .burgerMenue {
            i {
                display: none;
            }
        }
    }
}

/* Responsive */
@media screen and (max-width: 1112px) {
    nav {
        height: auto;

        .container {
            padding: 10px;
            flex-direction: column;

            .logo {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .links {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 732px) {
    nav {
        padding: 10px 0;

        .container {
            width: 92%;

            .logo {
                justify-content: space-between;

                .burgerMenue {
                    cursor: pointer;

                    i {
                        display: block;
                        transition: 0.5s ease;
                    }
                }

                .burgerMenue.scale {
                    transform: scale(1.1);
                    transition: 0.5s ease;
                }
            }

            .links {
                display: none;

                ul {
                    /* border: solid; */
                    flex-direction: column;
                    align-items: center;

                    li {
                        width: 100%;
                        pointer-events: none;
                        padding: 10px 0;

                        a:hover {
                            background-color: #64000575;
                        }

                        a:last-child:hover {
                            color: white;
                        }

                        a {
                            transform: translateX(-500px);
                            border: 1px solid;
                        }
                    }
                }
            }
        }
    }
}

.container.active .links {
    display: flex;
    animation: navAnimate 1s ease forwards;
}

.container.active .link1 {
    animation: nvLinksAnimate .5s ease forwards 1s;
}

.container.active .link2 {
    animation: nvLinksAnimate .5s ease forwards 1.2s;
}

.container.active .link3 {
    animation: nvLinksAnimate .5s ease forwards 1.4s;
}

.container.active .link4 {
    animation: nvLinksAnimate .5s ease forwards 1.6s;
}

.container.active .link5 {
    animation: nvLinksAnimate .5s ease forwards 1.8s;
}

.container.active .link6 {
    animation: nvLinksAnimate .5s ease forwards 2s;
}

.container.active .link7 {
    animation: nvLinksAnimate .5s ease forwards 2.2s;
}

@keyframes navAnimate {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 62vh;
        opacity: 1;
    }
}

@keyframes nvLinksAnimate {
    50% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* footer  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --footer-back-color: #1E2939;
    --footer-color: #99A1AF;
}

ul {
    list-style: none;
}

footer {
    width: 100%;
    background-color: var(--footer-back-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .container {
        padding: 10px 0;
        width: 85%;
        margin: auto;
        /* border: solid; */

        .top {
            display: flex;
            /* flex-wrap: wrap; */
            justify-content: space-between;

            .logo {
                /* border: solid; */
                width: 30%;

                .heading {
                    display: flex;
                    align-items: center;
                    margin: 20px 0;

                    h2 {
                        padding: 0 5px;
                        font-size: 20px;
                        color: white;
                    }

                    i {
                        color: red;
                        font-size: 15px;
                    }
                }

                .para {
                    p {
                        line-height: 1.5;
                        /* padding: 10px; */
                        color: var(--footer-color);
                        font-size: 15px;
                    }
                }

            }

            .links {
                /* border: solid; */
                width: 60%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .link-col {
                    /* border: solid; */
                    width: 200px;

                    .heading-col {
                        h3 {
                            margin: 20px 0;
                            color: white;
                        }
                    }

                    .innerLinks {
                        ul {
                            li {
                                margin: 10px 0;

                                a {
                                    color: var(--footer-color);
                                    font-size: 13px;

                                    &:hover {
                                        color: white;
                                    }
                                }
                            }

                            li:nth-child(4) {
                                color: #FF645A;
                                font-size: 13px;
                            }

                            .contactLastchild {
                                a {
                                    font-size: 20px;
                                    color: red;
                                }
                            }
                        }

                        i {
                            font-size: 15px;
                        }

                        i,
                        span {
                            color: var(--footer-color);
                            margin: 0 3px;
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .bottom {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.137);
            text-align: center;

            p {
                margin: 6px 0;
                color: var(--footer-color);
                font-size: 14px;

                a {
                    color: rgb(255, 109, 109);

                    /* font-family: Arial, Helvetica, sans-serif; */
                    &:hover {
                        color: rgb(151, 151, 255);
                    }
                }
            }
        }
    }
}

/* ===============================
   Responsive Footer
   ================================*/
@media screen and (max-width: 1500px) {
    footer {
        .links {
            gap: 30px;
            justify-content: start !important;

            .contactChild {
                .contactLastchild {
                    a {
                        font-size: 18px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 848px) {
    footer {

        .top {
            flex-wrap: nowrap;

            .logo {
                width: 200px !important;
            }

            /* width: 300px; */
            .links {
                justify-content: flex-start !important;

                .contactChild {
                    .contactLastchild {
                        a {
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }

        .bottom {
            p {
                font-size: 12px !important;
            }
        }
    }
}

@media screen and (max-width: 754px) {
    footer {
        .top {
            .links {
                justify-content: start !important;

                .link-col {
                    width: 170px !important;

                }

                .contactChild {
                    li {
                        span {
                            font-size: 11px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 648px) {
    footer {
        .top {
            .links {
                gap: 5px;
            }
        }
    }
}

@media screen and (max-width: 570px) {
    footer {
        .top {
            flex-direction: column !important;
        }
    }
}

@media screen and (max-width: 476px) {
    footer {
        .top {
            justify-content: space-between !important;

            .links {
                justify-content: flex-start !important;
            }
        }
    }
}

@media screen and (max-width:340px) {
    footer {
        .top {
            flex-direction: column !important;
            flex-wrap: wrap;
            justify-content: start !important;

            .logo {
                width: 100% !important;
            }

            .links {
                justify-content: flex-start !important;
            }
        }
    }
}

:root {
    /* green  */
    --green-color: #00C950;
    --span-bottom-clear-green-color: #B9F8CF;
    --back-top-clear-green-color: #F0FDF4;
    /* orange */
    --orange-color: #F0B100;
    --span-bottom-clear-orange-color: #FFF085;
    --back-top-clear-orange-color: #FEFCE8;
    /* red  */
    --red-color: #FB2C36;
    --span-bottom-clear-red-color: #FFC9C9;
    --back-top-clear-red-color: #FEF2F2;


}

header {
    width: 100%;
    /* background-color: yellow; */
    margin-top: 8vh;
}

header {
    .container {
        width: 85%;
        padding: 20px 0;
        margin: auto;
        height: auto;
        /* border: solid; */

        .heading-cards {
            width: 100%;
            margin: auto;
            /* border: solid; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            gap: 10px 20px;

            .card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 15px;
                /* border: solid; */
                border-radius: 10px;
                box-shadow: 0 3px 10px 0px rgb(0 0 0 / 0.2);
                width: 32%;

                .card-text {
                    p {
                        color: rgb(74, 85, 101);
                        padding: 5px 0;
                    }

                    h3 {
                        font-size: 30px;
                        color: rgb(30, 41, 57);
                    }
                }

                .card-icon {
                    width: 50px;
                    aspect-ratio: 1;
                    background-color: #DBEAFE;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;

                    i {
                        font-size: 20px;
                        color: blue;
                    }
                }
            }

            .card:nth-child(2) {
                .card-icon {
                    background-color: #DBFCE7;

                    i {
                        color: green;
                    }
                }
            }

            .card:nth-child(3) {
                .card-icon {
                    background-color: #FFE2E2;

                    i {
                        color: red;
                    }
                }
            }
        }
    }
}

.heading-text {
    text-align: center;
    padding: 20px;

    i {
        color: red;
        width: 65px;
        height: 65px;
        line-height: 2.5;
        border-radius: 50px;
        font-size: 25px;
        background-color: #FFE2E2;
        margin: 10px 0;
    }

    .heading-text-content {
        h2 {
            font-size: 40px;
            font-weight: 700;
            font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            padding: 5px;
        }

        p {
            color: #4A5573;
        }
    }
}

main {
    .bloodCards {
        width: 100%;
        /* border: solid; */
        margin-top: 30px;

        .container {
            width: 85%;
            margin: auto;

            .cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 20px 10px;

                .cardType {
                    /* width: 345px; */
                    flex: 1 1 300px;
                    padding: 20px;
                    background-color: var(--back-top-clear-green-color);
                    box-shadow: 0 3px 10px 0px rgb(0 0 0 / 0.2);

                    .top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #4A5573;
                            font-size: 25px;
                            font-weight: 600;

                        }

                        i {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 35px;
                            aspect-ratio: 1;
                            background-color: var(--green-color);
                            border-radius: 50%;
                            margin-right: 5px;
                            color: white;
                            font-size: 15px;
                        }
                    }

                    .center {
                        margin: 15px 0 10px;

                        p:first-child {
                            color: black;
                            font-weight: 700;
                            font-size: 40px;
                        }

                        p+p {
                            font-size: 15px;
                            font-weight: 100;
                        }

                        input[type="range"] {
                            -webkit-appearance: none;
                            width: 100%;
                            height: 8px;
                            background: linear-gradient(to right, #ddd 5%, #1db954 95%);
                            border-radius: 10px;
                            outline: none;
                            transition: 0.3 ease;
                            /* pointer-events: none; */
                        }

                        input[type="range"]::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            width: 16px;
                            height: 16px;
                            background: #1db954;
                            border-radius: 50%;
                            cursor: pointer;
                            transition: 0.3s ease;
                            /* display: none; */
                        }
                    }

                    .bottom {
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        span:first-child {
                            /* font-weight: 700; */
                            background-color: var(--span-bottom-clear-green-color);
                            padding: 7px 15px;
                            border-radius: 50px;
                            font-size: 13px;
                        }

                        span+span {
                            font-size: 13px;
                            color: #4A5573;
                        }
                    }

                    .btns {
                        margin-top: 5px;

                        button {
                            margin: 0 10px 0 0;
                            width: 80px;
                            height: 40px;
                            outline: none;
                            text-transform: capitalize;
                            border-radius: 5px;
                            border: none;
                        }

                        .push,
                        .pull {
                            background-color: var(--green-color);
                            color: white;
                            letter-spacing: 1px;
                            font-weight: 700;
                            transition: 0.5s ease;
                            border: 1px solid;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .push {
                            border-color: var(--green-color);

                            &:hover {
                                background-color: white;
                                color: var(--green-color);
                            }
                        }

                        .pull {
                            border-color: var(--orange-color);
                            background-color: var(--orange-color);

                            &:hover {
                                background-color: white;
                                color: var(--orange-color);
                            }
                        }
                    }
                }
            }
        }
    }

    .blood-guide {
        /* border: solid; */
        width: 100%;
        margin: 20px 0 40px;

        .container {
            padding: 20px 0;
            width: 85%;
            margin: auto;

            .blood-flib-cards {
                position: relative;
                /* border: solid; */
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                .flib-card {
                    /* position: absolute; */
                    /* border: solid; */
                    /* background-color: red; */
                    /* width: 200px; */
                    aspect-ratio: 1;
                    transform-style: preserve-3d;
                    transition: 0.5s ease;
                    border-radius: 20px;
                    flex: 1 1 200px;
                    cursor: pointer;
                    height: 230px;

                    &.flibActive {
                        transform: rotateY(180deg);
                        /* pointer-events: none; */
                    }

                    .front-face {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        backface-visibility: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        p:first-child {
                            padding: 10px;
                            padding-top: 0;
                            font-size: 50px;
                            font-weight: 900;
                            color: white;
                        }

                        p+p {
                            color: white;
                        }
                    }

                    .back-face {
                        padding: 10px;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        backface-visibility: hidden;
                        transform: rotateY(180deg);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        p {
                            text-align: center;
                            color: white;
                            padding: 5px;
                            /* margin-top: 5px; */
                            font-size: 11px;
                            letter-spacing: 1px;
                            line-height: 1.5;
                            text-transform: uppercase;
                            font-family: sans-serif;
                        }

                        .innerFlib {
                            padding: 10px 15px;
                            margin-top: 10px;
                            border: none;
                            border-radius: 5px;
                            /* font-weight: 600; */
                            background-color: white;
                            /* color: red; */
                            width: 100%;
                            display: inline-block;
                            text-align: center;
                            transition: 0.3s ease;
                            overflow: hidden;

                            &:hover {
                                letter-spacing: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ---------------------Danger Statue---------------- */
.flib-card.flibcardColorstatueDanger {
    background-color: var(--red-color);

    .innerFlib {
        color: var(--red-color);
    }
}

.cardType.cardColorstatueDanger {
    background-color: var(--back-top-clear-red-color) !important;

    .bloodIcon {
        background-color: var(--red-color) !important;
        transition: 0.5s ease;
    }

    .rateIcon {
        background-color: var(--red-color) !important;
        transition: 0.5s ease;
    }

    .statueText {
        background-color: var(--span-bottom-clear-red-color) !important;
        transition: 0.5s ease;
    }

    input[type="range"] {
        background: linear-gradient(to right, #ddd 5%, #FB2C36 95%) !important;
    }

    input[type="range"]::-webkit-slider-thumb {
        background: var(--red-color) !important;
    }


    transition: 0.5s ease;
}

/* ------------------------Suit Statue-------------- */
.flib-card.flibcardColorstatueSuit {
    background-color: var(--orange-color);

    .innerFlib {
        color: var(--orange-color);
    }
}

.cardType.cardColorstatueSuit {
    background-color: var(--back-top-clear-orange-color) !important;
    transition: 0.5s ease;

    .bloodIcon {
        background-color: var(--orange-color) !important;
        transition: 0.5s ease;
    }

    .rateIcon {
        background-color: var(--orange-color) !important;
        transition: 0.5s ease;
    }

    .statueText {
        background-color: var(--span-bottom-clear-orange-color) !important;
        transition: 0.5s ease;
    }

    input[type="range"] {
        background: linear-gradient(to right, #ddd 5%, #F0B100 95%) !important;
    }

    input[type="range"]::-webkit-slider-thumb {
        background: var(--orange-color) !important;
    }

    transition: 0.3s ease;
}

/* ------------------------Safe Statue-------------- */
.flib-card.flibcardColorstatueSafe {
    background-color: var(--green-color);

    .innerFlib {
        color: var(--green-color);
    }
}

.cardType.cardColorstatueSafe {
    background-color: var(--back-top-clear-green-color) !important;
    transition: 0.5s ease;

    .bloodIcon {
        background-color: var(--green-color) !important;
        transition: 0.5s ease;
    }

    .rateIcon {
        background-color: var(--green-color) !important;
        transition: 0.5s ease;
    }

    .statueText {
        background-color: var(--span-bottom-clear-green-color) !important;
        transition: 0.5s ease;
    }

    input[type="range"] {
        background: linear-gradient(to right, #ddd 5%, #00C950 95%) !important;
    }

    input[type="range"]::-webkit-slider-thumb {
        background: var(--green-color) !important;
    }

    transition: 0.3s ease;

}


/* ############################## */
/* responsive header  */
@media screen and (max-width: 964px) {
    header {
        margin-top: 10vh;

        .container {
            .heading-cards {
                flex-wrap: wrap;
                justify-content: center !important;

                /* border: solid; */
                .card {
                    /* margin-bottom: 20px !important; */
                    width: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: 701px) {
    header {
        .container {
            .heading-cards {
                flex-wrap: wrap !important;
                flex-direction: column;
            }

            .card {
                width: 100% !important;
                /* border: solid; */
            }
        }
    }
}