* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    margin-top: 8vh;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* nav  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --nav-background: #E7000B;
    --active-link-style: #64000575;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: var(--nav-background);
    width: 100%;
    height: 8vh;
    /* border: solid; */
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 0.1);

    .container {
        width: 85%;
        height: 100%;
        margin: auto;
        /* background-color: #00BA48; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        .logo {
            /* width: 20%; */
            height: 100%;
            /* border: solid; */
            display: flex;
            align-items: center;
            /* padding: 0 15px; */
            padding-left: 0;

            .headingLogo {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            i {
                font-size: 15px;
                padding: 0 5px;
            }

            h1 {
                font-size: 20px;
                padding: 0 5px;
            }

            .burgerMenue {
                i {
                    display: none;
                    font-size: 20px;
                }
            }
        }

        .links {
            /* width: 70%; */
            /* height: 100%; */
            /* border: solid; */
            display: flex;
            align-items: center;

            ul {
                /* border: solid; */
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    height: 100%;
                    /* border: solid; */

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;

                    a {
                        text-align: center;
                        display: inline-block;
                        /* border: solid; */
                        font-size: 14px;
                        width: 100%;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 8px;
                        transition: 0.3s ease;

                        &.activeLink {
                            background-color: var(--active-link-style);
                        }

                        &:hover {
                            background-color: var(--active-link-style);
                        }
                    }
                }

                li:first-child {
                    a {
                        /* background-color: var(--active-link-style); */
                    }
                }

                li:last-child {
                    a {
                        background-color: #F3F4F6;
                        color: red;
                        box-shadow: 0 5px 5px rgb(0 0 0 / 0.1);

                        &:hover {
                            transform: translateY(-3px);
                        }
                    }
                }
            }
        }

        .burgerMenue {
            i {
                display: none;
            }
        }
    }
}

/* Responsive */
@media screen and (max-width: 1112px) {
    nav {
        height: auto;

        .container {
            padding: 10px;
            flex-direction: column;

            .logo {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .links {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 732px) {
    nav {
        padding: 10px 0;

        .container {
            width: 92%;

            .logo {
                justify-content: space-between;

                .burgerMenue {
                    cursor: pointer;

                    i {
                        display: block;
                        transition: 0.5s ease;
                    }
                }

                .burgerMenue.scale {
                    transform: scale(1.1);
                    transition: 0.5s ease;
                }
            }

            .links {
                display: none;

                ul {
                    /* border: solid; */
                    flex-direction: column;
                    align-items: center;

                    li {
                        width: 100%;
                        pointer-events: none;
                        padding: 10px 0;

                        a:hover {
                            background-color: #64000575;
                        }

                        a:last-child:hover {
                            color: white;
                        }

                        a {
                            transform: translateX(-500px);
                            border: 1px solid;
                        }
                    }
                }
            }
        }
    }
}

.container.active .links {
    display: flex;
    animation: navAnimate 1s ease forwards;
}

.container.active .link1 {
    animation: nvLinksAnimate .5s ease forwards 1s;
}

.container.active .link2 {
    animation: nvLinksAnimate .5s ease forwards 1.2s;
}

.container.active .link3 {
    animation: nvLinksAnimate .5s ease forwards 1.4s;
}

.container.active .link4 {
    animation: nvLinksAnimate .5s ease forwards 1.6s;
}

.container.active .link5 {
    animation: nvLinksAnimate .5s ease forwards 1.8s;
}

.container.active .link6 {
    animation: nvLinksAnimate .5s ease forwards 2s;
}

.container.active .link7 {
    animation: nvLinksAnimate .5s ease forwards 2.2s;
}

@keyframes navAnimate {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 62vh;
        opacity: 1;
    }
}

@keyframes nvLinksAnimate {
    50% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* footer  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --footer-back-color: #1E2939;
    --footer-color: #99A1AF;
}

ul {
    list-style: none;
}

footer {
    width: 100%;
    background-color: var(--footer-back-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .container {
        padding: 10px 0;
        width: 85%;
        margin: auto;
        /* border: solid; */

        .top {
            display: flex;
            /* flex-wrap: wrap; */
            justify-content: space-between;

            .logo {
                /* border: solid; */
                width: 30%;

                .heading {
                    display: flex;
                    align-items: center;
                    margin: 20px 0;

                    h2 {
                        padding: 0 5px;
                        font-size: 20px;
                        color: white;
                    }

                    i {
                        color: red;
                        font-size: 15px;
                    }
                }

                .para {
                    p {
                        line-height: 1.5;
                        /* padding: 10px; */
                        color: var(--footer-color);
                        font-size: 15px;
                    }
                }

            }

            .links {
                /* border: solid; */
                width: 60%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .link-col {
                    /* border: solid; */
                    width: 200px;

                    .heading-col {
                        h3 {
                            margin: 20px 0;
                            color: white;
                        }
                    }

                    .innerLinks {
                        ul {
                            li {
                                margin: 10px 0;

                                a {
                                    color: var(--footer-color);
                                    font-size: 13px;

                                    &:hover {
                                        color: white;
                                    }
                                }
                            }

                            li:nth-child(4) {
                                color: #FF645A;
                                font-size: 13px;
                            }

                            .contactLastchild {
                                a {
                                    font-size: 20px;
                                    color: red;
                                }
                            }
                        }

                        i {
                            font-size: 15px;
                        }

                        i,
                        span {
                            color: var(--footer-color);
                            margin: 0 3px;
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .bottom {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.137);
            text-align: center;

            p {
                margin: 6px 0;
                color: var(--footer-color);
                font-size: 14px;

                a {
                    color: rgb(255, 109, 109);

                    /* font-family: Arial, Helvetica, sans-serif; */
                    &:hover {
                        color: rgb(151, 151, 255);
                    }
                }
            }
        }
    }
}

/* ===============================
   Responsive Footer
   ================================*/
@media screen and (max-width: 1500px) {
    footer {
        .links {
            gap: 30px;
            justify-content: start !important;

            .contactChild {
                .contactLastchild {
                    a {
                        font-size: 18px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 848px) {
    footer {

        .top {
            flex-wrap: nowrap;

            .logo {
                width: 200px !important;
            }

            /* width: 300px; */
            .links {
                justify-content: flex-start !important;

                .contactChild {
                    .contactLastchild {
                        a {
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }

        .bottom {
            p {
                font-size: 12px !important;
            }
        }
    }
}

@media screen and (max-width: 754px) {
    footer {
        .top {
            .links {
                justify-content: start !important;

                .link-col {
                    width: 170px !important;

                }

                .contactChild {
                    li {
                        span {
                            font-size: 11px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 648px) {
    footer {
        .top {
            .links {
                gap: 5px;
            }
        }
    }
}

@media screen and (max-width: 570px) {
    footer {
        .top {
            flex-direction: column !important;
        }
    }
}

@media screen and (max-width: 476px) {
    footer {
        .top {
            justify-content: space-between !important;

            .links {
                justify-content: flex-start !important;
            }
        }
    }
}

@media screen and (max-width:340px) {
    footer {
        .top {
            flex-direction: column !important;
            flex-wrap: wrap;
            justify-content: start !important;

            .logo {
                width: 100% !important;
            }

            .links {
                justify-content: flex-start !important;
            }
        }
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    /* border: solid; */

    .doneMessage,
    .errorMessage {
        position: fixed;
        z-index: 999;
        width: 10px;
        height: 10px;
        top: 5%;
        left: 15%;
        transform: translateX(-50%);
        background-color: red;
        transition: 0.5s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        opacity: 0;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        pointer-events: none;
    }

    .doneMessage.done {
        animation: registerDoneMessage 3s ease 1;
    }

    .errorMessage {
        width: 0;
        height: 0;
        top: 9%;
        left: 50%;
        opacity: 1;
        z-index: 9999999999999999999999999999;
        background-color: #E7000B;
    }

    .errorMessage.error {
        animation: registerErrorMessage 2s ease;
    }

    .register {
        width: 100%;

        .container {
            width: 60%;
            margin: auto;
            padding: 20px;
            text-align: center;

            .heading {
                padding: 20px;
                margin-bottom: 20px;

                i {
                    color: red;
                    width: 65px;
                    height: 65px;
                    line-height: 2.5;
                    border-radius: 50px;
                    font-size: 25px;
                    background-color: #FFE2E2;
                    margin: 10px 0;
                }

                .headingText {
                    h2 {
                        font-size: 40px;
                        font-weight: 700;
                        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                        padding: 5px;
                    }

                    p {
                        color: #4A5573;
                    }
                }
            }

            .form {
                width: 100%;
                /* border: solid; */
                border-radius: 10px;
                padding: 20px;
                text-align: start;
                box-shadow: 0 5px 11px 0 rgb(0 0 0 / 0.1);

                form {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;


                    div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        margin: 5px 0;

                        label {
                            margin: 10px 0;
                            font-size: 14px;

                            span {
                                color: red;
                            }
                        }

                        input,
                        button[type="submit"] {
                            padding: 10px;
                            height: 55px;
                            border: 1px solid rgb(0 0 0 / 0.2);
                            border-radius: 10px;
                            outline: none;

                            i {
                                margin-right: 10px;
                                font-size: 20px;
                            }
                        }

                        input {
                            transition: 0.3s ease;

                            &:hover:not(:focus) {
                                box-shadow: 0 1px 5px 0.5px rgba(0 0 0 / 0.2);
                            }

                            &:focus {
                                border: 1px solid rgba(255, 0, 0, 0.455);
                            }
                        }

                        button[type="submit"] {
                            font-size: 18px;
                            background-color: #E7000B;
                            outline: none;
                            color: white;
                            margin: 20px;
                            transition: 0.3s ease;
                            cursor: pointer;

                            &:hover {
                                background-color: #C10007;
                            }
                        }
                    }

                    .nationalId,
                    .age,
                    .gender,
                    .bloodType,
                    .city,
                    .hospital {
                        width: 48.5%;
                    }

                    .lastDonation {
                        p {
                            margin-top: 15px;
                            font-size: 12px;
                            color: #7D7292;
                        }
                    }
                }
            }
        }
    }

    /* start register-info */
    .registerInfo {
        text-align: start;
        margin: 20px 0;
        padding: 20px;
        border-radius: 10px;
        /* border: solid; */
        background-color: #c2edf86b;

        .registerInfo-heading {
            h3 {
                font-size: 20px;
                padding: 5px 0 10px;

                i {
                    margin: 0 3px;
                }
            }

        }

        ul {
            li {
                margin: 7px 0;

                i {
                    margin: 0 3px;
                    color: green;
                }
            }
        }
    }

    /* end register-info */
}

/* _____________________Animation__________________ */
@keyframes registerDoneMessage {
    25% {
        opacity: 1;
        top: 15%;
    }

    50% {
        opacity: 1;
        width: 100px;
        height: 50px;
        transform: translateX(-50%);
        font-size: 20px;
        top: 15%;
    }

    75% {
        opacity: 1;
        width: 10px;
        height: 10px;
        font-size: 0;
        top: 15%;
    }

    100% {
        top: 5%;
        opacity: 0;
    }
}

@keyframes registerErrorMessage {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        font-size: 0;
    }

    50% {
        transform: translateX(-50%);
        width: 170px;
        height: 50px;
        opacity: 1;
        font-size: 15px;
    }

    70% {
        transform: translateX(-50%);
        width: 170px;
        height: 50px;
        opacity: 1;
        font-size: 15px;
    }

    100% {
        width: 0;
        height: 0;
        opacity: 0;
        transform: translateX(-50%);
        font-size: 0;
    }
}

/* ################################# */
/* Responsive */
/* ################################# */
@media screen and (max-width:1113px) {
    .register {
        margin-top: 100px !important;

    }
}

@media screen and (max-width:695px) {
    .register {
        div {
            width: 100% !important;
        }
    }
}

@media screen and (max-width:380px) {
    .registerInfo {
        li {
            font-size: 13px;
        }
    }

    .btnSubmit {
        button {
            font-size: 15px !important;
        }
    }
}