* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin-top: 8vh;
    width: 100%;
    background-color: yellow;
    .container {
        width: 95%;
        padding: 20px;
    }
}