* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  margin-top: 8vh;
  width: 100%;
  font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
main {
  .container {
    width: 85%;
    padding: 20px;
    margin: 0 auto;
    .heading {
      text-align: center;
      padding: 20px;
      margin-bottom: 20px;
      i {
        color: red;
        width: 65px;
        height: 65px;
        line-height: 2.5;
        border-radius: 50px;
        font-size: 27px;
        background-color: #ffe2e2;
        margin: 10px 0;
      }
      h2 {
        font-size: 40px;
        font-weight: 700;
        font-family:
          ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
          'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        padding: 5px;
      }
      p {
        color: #4a5573;
      }
    }
    .content {
      width: 100%;
      .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 18px;
        .item {
          flex: 1 1 200px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: white;
          border-radius: 10px;
          box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.4);
          padding: 20px;
          /* margin-right: 12px; */
          transition: 0.3s;
          cursor: pointer;
          border: 1px solid transparent;
          p {
            color: #4a5573;
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            gap: 12px;
            span {
              font-size: 30px;
              color: red;
              font-weight: bold;
            }
          }
          i {
            font-size: 33px;
          }
          &:hover {
            transform: translateY(-6px);
            box-shadow: none;
            border: 1px solid var(--color);
          }
        }
      }
      .hospitals {
        /* background-color: blue; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        margin: 20px 0 0 0;
        gap: 18px;
        .Places {
          flex: 0 0 calc(66.666% - 9px);
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          row-gap: 25px;
          .card {
            flex: 0 0 calc(50% - 9px);
            text-align: center;
            border: 2px solid #c50008;
            padding: 35px 0;
            cursor: pointer;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 2px 0 2px #c50008;
            transition: 0.1s;

            i {
              color: #c50008;
              font-size: 30px;
              border-radius: 50%;
              border: 2px solid #c50008;
              height: 60px;
              width: 60px;
              padding: 15px 0;
            }
            p {
              font-size: 15px;
              margin-top: 12px;
              color: #c50008;
            }
            &:active {
              transform: translateY(5px);
              box-shadow: none;
            }
          }
        }
        .about {
          flex: 0 0 calc(33.333% - 9px);
          background: #c50008;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
          i{
            display: none;
          }
          .content {
            width: 90%;
             height:100%;
             display: flex;
             align-items: center;
             justify-content: center;
             margin: auto ;
            .item {
              width:100%;
              background-color: #ffe2e2;
              border-radius: 10px;
              transition: 0.3s;
              padding:  20px ;
              height: 60%;
              display: flex;
              flex-direction: column;
              /* align-items: center; */
              justify-content: space-between;
              h3{
                color:#E7000B;
                font-size:20px;
                text-align: center;
              }
              .location{
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                  background-color: white;
                  border-radius: 10px;
                  color: #E7000B;
                  
                  padding:10px;
                }
              }
              .bloodTypes{
                padding:10px 0;
                h4{
                  margin-bottom: 12px;
                }
                  span{
                    background-color: rgba(231, 0, 11);
                     color: white;
                     padding:5px;
                     border-radius: 2px;
                     margin-left: 5px;
                      
                  }
              }
              button {
                width: 100%;
                border: none;
                border-radius: 10px;
                                        background: linear-gradient(to right, rgb(255, 66, 66) 10%, #cb0007 80%);
                        font-size: 18px;
                        font-weight: 600;
                        color: white;
                        cursor: pointer;
                        padding:10px;
              }
            }
          }
        }
      }
    }
  }
      .contact {
        position: fixed;
        top: 5%;
        left: 0;
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateY(-120%);
        transition: 0.5s ease;
          z-index: 999;
        &.contactActive {
            transform: translateY(0);
            transition: 0.5s ease;
        }

        /* border: solid; */

        .container {
            /* border: solid; */
            padding: 30px 0;
            width: 85%;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .form {
                width: 50%;
                /* border: solid; */
                padding: 30px;
                border-radius: 10px;
                box-shadow: 0 8px 11px 0px rgba(0, 0, 0, 0.2);
                background-color: white;

                .headingform {
                    margin-bottom: 20px;

                    h3 {
                        font-size: 25px;
                    }
                }

                /* border-top: 10px red;
                border-top-style: groove; */

                form {
                    width: 100%;

                    div {
                        display: flex;
                        flex-direction: column;

                        span {
                            color: red;
                        }

                        input,
                        textarea {
                            height: 50px;
                            width: 100%;
                            outline: none;
                            border: 1px solid rgb(0 0 0 / 0.2);
                            border-radius: 10px;
                            padding: 10px;
                            margin: 5px 0 10px;
                            transition: 0.5s ease;
                            font-size: 15px;

                            &:focus {
                                /* background-color: #e7030a; */
                                color: red;
                                border: 1px solid rgba(51, 0, 255, 0.455);
                            }

                            &:focus::placeholder {
                                color: white;
                            }

                            &:hover:not(:focus) {
                                box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
                            }
                        }

                        textarea {
                            height: 150px;
                            border-radius: 5px;
                            resize: none;

                            &.maxCount {
                                background-color: red;
                                color: white;
                            }
                        }
                    }

                    input[type="submit"] {
                        background: linear-gradient(to right, rgb(255, 66, 66) 10%, #cb0007 80%);
                        font-size: 20px;
                        font-weight: 600;
                        color: white;
                        cursor: pointer;

                        &:hover {
                            transform: translateY(-4px);
                            background-color: #ADFF2F;
                            color: white;
                            transform-origin: bottom left;
                        }

                        &.SubmitOk {
                            background-color: #ADFF2F;
                            color: white;
                            transform-origin: bottom left;
                        }

                        &:focus {
                            color: white;
                            border: none;
                        }
                    }
                }
            }
        }

        &.blurBack {
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }
        transition: 0.3s ease;
    }

    #counter,
    #warningMessaage {
        text-align: end;
        margin-bottom: 5px;
        color: red;
        font-size: 15px;
    }

    #center {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #SubmitMessage {
        position: absolute;
        /* z-index: -1; */
        top: 0;
        left: 10%;
        width: 50px;
        aspect-ratio: 1;
        background-color: white;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 900;
        transition: 0.5s ease;
        transform: translateX(-50%);
        transform: scale(0);

        &.done {
            top: 15%;
            transition: 0.5s ease;
            transform: scale(1.1) rotate(360deg);
        }
    }
}
/* __________Animation___________ */
@keyframes animationCard-border {
    0% {
        border-color: red;
    }

    25% {
        border-color: yellow;
    }

    50% {
        border-color: green;
    }

    75% {
        border-color: #C50008;
    }

    100% {
        border-color: purple;
    }
}
/* ___________Responsive________ */
@media screen and (max-width: 1113px){
 main{
   margin-top: 100px;
  .container{
  
  }
 }
}
@media screen and (max-width: 732px){
  main{
    .container{
       width: 92%;
       .content{
         .hospitals{
          position: relative;
          .Places{
            flex: 1 1 100%;
            column-gap: 12px;
            .card{
              flex: 1 1 200px;
              padding: 20px;
            }
          }
          .about{
            position: fixed;
            top: 0;
            right: -100%;         
            width: 70%;
            height: 100vh;
            z-index: 10;
            border-radius: 0;
            transition: right 0.4s ease;
            overflow-y: auto;

            &.showAbout {
              right: 0;            
            }
            #closeAbout {
              position: absolute;
              top:  110px;
              right: 15px;
              background: white;
              color: #c50008;
              border: none;
              border-radius: 50%;
              width: 35px;
              height: 35px;
              font-size: 18px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: 1000;
              box-shadow: 0 2px 6px rgba(0,0,0,0.3);
            }
          }
        }
       }
    }
  }
}
@media screen and (max-width:900px) {
    main {
        .contact {
            .container {

                .form {
                    width: 100%;
                }
            }
        }
    }
}
