<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="container">
            <div class="logo">
                <div class="headingLogo">
                    <i class="fa-solid fa-droplet"></i>
                    <h1>Blood Bank</h1>
                </div>
                <div class="burgerMenue" id="burgerSign">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            <div class="links" id="links">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../pages/doonerRegistration.html">Dooner Registration</a></li>
                    <li><a href="../pages/requestBlood.html">Request Blood</a></li>
                    <li><a href="../pages/bloodStock.html">Blood Stock</a></li>
                    <li><a href="../pages/hospitals.html">Hospitals</a></li>
                    <li><a href="../pages/aboutContact.html">About/Contact</a></li>
                    <li><a href="../pages/admin.html">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="../assets/js/navbar.js"></script>
</body>

</html>