* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --footer-back-color: #1E2939;
    --footer-color: #99A1AF;
}

ul {
    list-style: none;
}

footer {
    width: 100%;
    background-color: var(--footer-back-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .container {
        padding: 10px 0;
        width: 95%;
        margin: auto;
        /* border: solid; */

        .top {
            display: flex;
            /* flex-wrap: wrap; */
            justify-content: space-between;

            .logo {
                /* border: solid; */

                /* width: ; */
                .heading {
                    display: flex;
                    align-items: center;
                    margin: 20px 0;

                    h2 {
                        padding: 0 5px;
                        font-size: 20px;
                        color: white;
                    }

                    i {
                        color: red;
                        font-size: 15px;
                    }
                }

                .para {
                    p {
                        line-height: 1.5;
                        /* padding: 10px; */
                        color: var(--footer-color);
                        font-size: 15px;
                    }
                }

                width: 20%;
            }

            .links {
                /* border: solid; */
                width: 60%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .link-col {
                    /* border: solid; */
                    width: 200px;

                    .heading-col {
                        h3 {
                            margin: 20px 0;
                            color: white;
                        }
                    }

                    .innerLinks {
                        ul {
                            li {
                                margin: 10px 0;

                                a {
                                    color: var(--footer-color);
                                    font-size: 13px;

                                    &:hover {
                                        color: white;
                                    }
                                }
                            }

                            li:nth-child(4) {
                                color: #FF645A;
                                font-size: 13px;
                            }

                            .contactLastchild {
                                a {
                                    font-size: 20px;
                                    color: red;
                                }
                            }
                        }

                        i {
                            font-size: 15px;
                        }

                        i,
                        span {
                            color: var(--footer-color);
                            margin: 0 3px;
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.137);
            text-align: center;

            p {
                margin: 6px 0;
                color: var(--footer-color);
                font-size: 14px;

                a {
                    color: rgb(255, 109, 109);

                    /* font-family: Arial, Helvetica, sans-serif; */
                    &:hover {
                        color: rgb(151, 151, 255);
                    }
                }
            }
        }
    }
}

/* ===============================
   Responsive Footer
   ================================*/
@media screen and (max-width: 1500px) {
    footer {
        .links {
            gap: 30px;
            justify-content: start !important;

            .contactChild {
                .contactLastchild {
                    a {
                        font-size: 18px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 848px) {
    footer {

        .top {
            flex-wrap: nowrap;

            .logo {
                width: 200px !important;
            }

            /* width: 300px; */
            .links {
                justify-content: flex-start !important;

                .contactChild {
                    .contactLastchild {
                        a {
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }

        .bottom {
            p {
                font-size: 12px !important;
            }
        }
    }
}

@media screen and (max-width: 754px) {
    footer {
        .top {
            .links {
                justify-content: start !important;

                .link-col {
                    width: 170px !important;

                }

                .contactChild {
                    li {
                        span {
                            font-size: 11px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 648px) {
    footer {
        .top {
            .links {
                gap: 5px;
            }
        }
    }
}

@media screen and (max-width: 570px) {
    footer {
        .top {
            flex-direction: column !important;
        }
    }
}

@media screen and (max-width: 476px) {
    footer {
        .top {
            justify-content: space-between !important;

            .links {
                justify-content: flex-start !important;
            }
        }
    }
}

@media screen and (max-width:340px) {
    footer {
        .top {
            flex-direction: column !important;
            flex-wrap: wrap;
            justify-content: start !important;

            .logo {
                width: 100% !important;
            }

            .links {
                justify-content: flex-start !important;
            }
        }
    }
}