* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white--color: #f3f4f6;
  --red--color: #e1000a;
  --alt--red-color: #c50007;
  --blue--color: #2171ff;
  --green--color: #00ba48;
  --footer-back-color: #1e2939;
}

/* Header */
/* Laptop screen */
header {
  width: 100%;
  height: 63vh;
  background: linear-gradient(to right, #e4000b, #c70008);
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    h1 {
      width: 50%;
      color: white;
      font-size: 3.8rem;
      font-weight: bold;
    }

    p {
      width: 50%;
      font-size: 1.4rem;
      font-weight: 300;
      color: white;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    .buttons {
      width: 50%;
      button {
        border: none;
        border-radius: 10px;
        width: 220px;
        height: 63px;
        /* padding:20px 40px; */
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 2.3px solid white;

        &#donorRegistration {
          color: #e2000a;
          transform: translateX(-10px);
          background-color: white;
          &:hover {
            background-color: rgb(246, 239, 239);
          }
        }

        &#requestBlood {
          color: white;
          background-color: #9f0712;
          &:hover {
            background-color: #82181a;
          }
        }

        i {
          padding: 0 8px;
        }
      }
    }
  }
}
/* Responsive */
/* tablate screen */
@media screen and (max-width: 1112px) {
  header {
    height: 80vh;
    .content {
      margin-top: 90px;
      width: 93%;
      h1 {
        width: 100%;
        text-wrap: none;
      }
      p {
        width: 100%;
      }
      .buttons {
        width: 100%;
      }
    }
  }
}
/* Mobile screen */
@media screen and (max-width: 732px) {
  header {
    height:90vh;
    .content {
        margin-top:55px;
      width: 90%;
      h1 {
        font-size: 2.89rem;
        width: 100%;
      }
      p {
        width: 100%;
        font-size: 1.19rem;
      }
      .buttons{
        width: 100%;
       a{
        width: 100%;
        button{
            width:100%;
            font-size: 0.98rem;
            height:55px;
            &#donorRegistration{
                transform: translateX(0px);
            }
            &#requestBlood{
                transform: translateY(10px);
            }
        }
       }
      }
    }
  }
}
/* End Header */
/* Start Main */
