* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white--color: #f3f4f6;
  --red--color: #f72330;
  --alt--red-color: #c50007;
  --blue--color: #2171ff;
  --green--color: #00ba48;
  --footer-back-color: #1e2939;
}

/* Header */
/* Laptop screen */
header {
  width: 100%;
  height: 63vh;
  background: linear-gradient(to right, #e4000b, #c70008);
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    h1 {
      width: 50%;
      color: white;
      font-size: 3.8rem;
      font-weight: bold;
    }

    p {
      width: 50%;
      font-size: 1.4rem;
      font-weight: 300;
      color: white;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    .buttons {
      width: 50%;

      button {
        border: none;
        border-radius: 10px;
        width: 220px;
        height: 63px;
        /* padding:20px 40px; */
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 2.3px solid white;

        &#donorRegistration {
          color: #e2000a;
          transform: translateX(-10px);
          background-color: white;

          &:hover {
            background-color: rgb(246, 239, 239);
          }
        }

        &#requestBlood {
          color: white;
          background-color: #9f0712;

          &:hover {
            background-color: #82181a;
          }
        }

        i {
          padding: 0 8px;
        }
      }
    }
  }
}

/* Responsive */
/* tablate screen */
@media screen and (max-width: 1112px) {
  header {
    height: 80vh;

    .content {
      margin-top: 90px;
      width: 93%;

      h1 {
        width: 100%;
        text-wrap: none;
      }

      p {
        width: 100%;
      }

      .buttons {
        width: 100%;
      }
    }
  }
}

/* Mobile screen */
@media screen and (max-width: 732px) {
  header {
    height: 90vh;

    .content {
      margin-top: 55px;
      width: 90%;

      h1 {
        font-size: 2.89rem;
        width: 100%;
      }

      p {
        width: 100%;
        font-size: 1.19rem;
      }

      .buttons {
        width: 100%;

        a {
          width: 100%;
          button {
            width: 100%;
            font-size: 0.98rem;
            height: 55px;

            &#donorRegistration {
              transform: translateX(0px);
            }

            &#requestBlood {
              transform: translateY(10px);
            }
          }
        }
      }
    }
  }
}

/* End Header */
/* #################### 
/* Start Main */
/* ******************* */
/* start our impact */
.ourImpact {
  width: 100%;
  height: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h2 {
    font-size: 2.25rem;
    font-weight: bolder;
    text-align: center;
    color: #1e2939;
  }
  .content {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2%;
    .item {
      /* width:100%; */
      padding: 20px 22px 13px 22px;
      border-radius: 15px;
      box-shadow: 0px 10px 15px #dedede;
      color: white;
      transition: all 0.3s ease;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      align-items: center;
      .icon {
        grid-column: 1/2;
        grid-row: 1/3;
        font-size: 2.29rem;
      }
      #counter {
        text-align: end;
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 2.2rem;
        font-weight: 700;
        transform: translateY(10px);
      }
      h4 {
        font-size:0.9rem;
        text-align: right;
        grid-column: 2/3;
        grid-row: 2/3;
        color: #dbeafe;
      }
      input {
        position: relative;
        grid-column: 1/3;
        grid-row: 3/4;
        appearance: none;
        -webkit-appearance: none;
        height: 8px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        outline: none;
        &::-webkit-slider-thumb {
          appearance: none;
          -webkit-appearance: none;
          width: 0;
          height: 0;
        }
        &::before {
          position: absolute;
          content: '';
          width: 60%;
          height: 100%;
          background-color: white;
          border-radius: 10px;
        }
      }
      &:hover {
        transform: scale(1.059);
      }
      &:nth-child(1) {
        background-color: var(--blue--color);
        input::before {
          width: 79%;
        }
      }
      &:nth-child(2) {
        background-color: var(--red--color);
        input::before {
          width: 55%;
        }
      }
      &:nth-child(3) {
        background-color: var(--green--color);
        input::before {
          width: 86%;
        }
      }
    }
  }
}
/* >>>>>>>>>>>>>>>>>>>>> */
/* Responsive */
/* tablate screen */
@media screen and (max-width: 1112px) {
  .ourImpact {
    .content {
      padding: 10px;
      .item {
        padding: 15px;
        h4 {
          font-size: 0.9rem;
          white-space: nowrap;
        }
      }
    }
  }
}
/* Mobile screen */
@media screen and (max-width: 732px) {
  .ourImpact {
    height: auto;
    padding:35px 0 ;
    h2 {
      font-size: 1.88rem;
    }
    .content {
      width: 93%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 5%;
      margin-bottom: 5%;
      .item {
        padding: 1% 5%;
        box-shadow: 0px 5px 8px #dedede;
        #counter {
          font-size: 2.25rem;
        }
        &:nth-child(1) {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        &:nth-child(2) {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        &:nth-child(3) {
          grid-column: 1/2;
          grid-row: 3/4;
        }
      }
    }
  }
}
/* End our Impact Section  */
/* #################### */
/* start Why we donate blood  */
.donateBlood {
  width: 100%;
  height: 55vh;
  background-color: var(--white--color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  h2 {
    font-size: 2.25rem;
    font-weight: bolder;
    color: #1e2939;
  }
  .content {
    width: 95%;
    height:25vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap:2%;
 .item {
  width:100%;
  height:100%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: all 0.44s ease;


  span {
    width:70px;
    height:9vh;
    background-color: #ffe2e2;
    border-radius: 50%;
    font-size: 1.875rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 900;
  }

  p {
    color: #4a5565;
    font-weight: 400;
    font-size:0.86rem;
    line-height: 1.5;
  }

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e4000b;
    border-radius: 10px;
    transition: all 0.44s ease; 
    z-index:-1;
  }
    
  &:hover::before {
    top:10px;
  }
}
  }
}

/*  Responsive */
/* Tablate screen */
@media screen and (max-width: 1112px) {
      .donateBlood{
        height:80vh;
          .content{
            padding:10px;
            height:60vh;
            display: grid;
            grid-template-columns:repeat(2 , 1fr) ;
            grid-template-rows: repeat(2, 1fr);
            row-gap: 20px;
            .item{
              gap:10px;
              span{
                width:70px;
                height:11vh;
                font-size:1.6rem;
              }
              &:nth-child(1){
                grid-column: 1/2;
                grid-row: 1/2;
              }
              &:nth-child(2){
                grid-column: 2/3;
                grid-row: 1/2;
              }
              &:nth-child(3){
                grid-column: 1/2;
                grid-row: 2/3;
              }
              &:nth-child(4){
                grid-column: 2/3;
                grid-row: 2/3;
              }
            }
          }
      }
}
/* mobile screen */
@media screen  and (max-width:732px) {
    .donateBlood{
    height:auto;
    padding:35px 0;
    /* justify-content: space-between; */
    h2{
      text-align: center;
       font-size: 1.6rem;
       margin-bottom: 12px;
    }
    .content{
      width:93%;
      height:auto;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      .item{
        gap:10px;
        padding:24px;
        &:nth-child(1) {
            grid-column: 1/2;
            grid-row: 1/2;
          }
          &:nth-child(2) {
            grid-column: 1/2;
            grid-row: 2/3;
          }
          &:nth-child(3) {
            grid-column: 1/2;
            grid-row: 3/4;
          }
          &:nth-child(4) {
            grid-column: 1/2;
            grid-row: 4/5;
          }
      }
    }
   }
}
/* ################## */
/* Make a Difference  */
.makeAdifference{
  width:100%;
  height:48vh;
  padding:70px 0;
  background:#E7000B;
  .content{
    width:95%;
    height:auto;
    margin:0 auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h2{
      width:100%;
      font-size:2.35rem ;
      font-weight:700;
      color:white;
      margin-bottom: 30px;
    }
    p{
      width:50%;
      color:white;
      font-size:1.25rem;
      font-weight:600;
      margin-bottom: 30px;
      line-height: 1.5;
    }
     .buttons {
      width: 50%;
      margin-top: 15px;
      button {
        border: none;
        border-radius: 10px;
        width: 220px;
        height: 58px;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 2.3px solid white;

        &#donorRegistration {
          color: #e2000a;
          transform: translateX(-10px);
          background-color: white;

          &:hover {
            background-color: rgb(246, 239, 239);
          }
        }

        &#bloodStock {
          color: white;
          background-color: transparent;

          &:hover {
            background-color: #d42326;
          }
        }

        i {
          padding: 0 8px;
        }
      }
    }
  }
}